/*Reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 75%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2); 
}

/*Header*/

header {
    margin-top: 5px;
}

.logo {
    width: 150px;
    border-right: 1px solid #E5E5E5;
    padding-right: 20px;
}

.navigazione {
   margin: 30px 0;
   word-spacing: 10px; 
   
}

.navigazione li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #A9A9A9; 
}

/*Prima Sezione*/

main {
    border-radius: 10px;
    overflow: hidden;  
}

.hero { 
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}

.text-hero {
    color: white;
    position: absolute;
    bottom: 15%;
    left: 6%;
    width: 50%;
}

   

/*Seconda Sezione*/

.leadership {
    background-color: #0186FF;
    margin-bottom: 10px;
}

.leadership-title {
    height: 80px;
    background-color: #ABCFE7;
}

.col-left, .col-center, .col-right {
	float: left;
    height: 700px;
    background-color: #ABCFE7;
}

.col-left, .col-right {
    width: 25%;
    margin: 25px 0;
}

.col-center {
    margin: 25px 20px;
    width: calc(50% - 40px) ;
}

/*Footer*/

footer {
    height: 60px;
    background-color: #8801FE;
    margin-bottom: 25px;
}