/*Reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 75%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*Header*/

header {
    background-color: #E579E6;
    height: 130px;
    margin-top: 25px;
}

/*Prima Sezione*/

.hero {
    background-color: #E1D67A;
    margin: 30px 0;
    height: 550px;
}

/*Seconda Sezione*/

.leadership {
    background-color: #0186FF;
    margin-bottom: 10px;
}

.leadership-title {
    height: 80px;
    background-color: #ABCFE7;
}

.col-left, .col-center, .col-right {
	float: left;
    height: 700px;
    background-color: #ABCFE7;
}

.col-left, .col-right {
    width: 25%;
    margin: 25px 0;
}

.col-center {
    margin: 25px 20px;
    width: calc(50% - 40px) ;
}

/*Footer*/

footer {
    height: 60px;
    background-color: #8801FE;
    margin-bottom: 25px;
}